button {
    border: none;
    font-weight: bold;
    color: #000000;
    background: url(imagesCSS/button.png) no-repeat center;
    /*background-color: grey; */
    width: 150px;
    height: 55px;
    padding: 2px 8px;
}

 /*Para poder usar esto es necesario tener <span id="nocturno"></span>. Ver como cambiar despues. Se puede usar "*" para todo lo que contenga al body, averiguar como abarcar todo*/
/*body #nocturno{
    background-color: #000000;
    color: #ffffff;
}*/
/* Esto puede usarse para todo lo que sea de clase nocturno declarado con "class="nocturno""*/
.nocturno{
    background-color: #000000;
    color: #ffffff;
}

.joystickNocturno{
    /*background-color: #E71616;*/
    background: url(imagesCSS/joystickDarkMode.png);
}

body {
  font-size: 15px;
  font-family: Roboto, Arial, sans-serif;
}
