.darkModeButton{
    border: none;
    font-weight: bold;
    display: inline-block;
    padding: 15px 30px;
    background: #031321;
    color: #2196f3;
    text-transform: uppercase;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
    border-radius: 0.5rem;
}
.darkModeButton:hover {
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
}

.lightModeButton{
    border: none;
    font-weight: bold;
    display: inline-block;
    padding: 15px 30px;
    background: #2196f3;
    color:#255784;
    text-transform: uppercase;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
    border-radius: 0.5rem;
}
.lightModeButton:hover {
    color: #2196f3;
    background: #031321;
    box-shadow: 0 0 10px #255784, 0 0 40px #255784, 0 0 80px #255784;
}

.divButton {
    text-align: center;
    margin: 10px;
    font-size: 20px;
}
.playButton{
    text-align: center;
    border: none;
    display: inline-block;
    background: #007bff;
    color:#ffffff;
    text-decoration: none;
    overflow: hidden;
    letter-spacing: 3px;
    transition: 0.2s;
    border-radius: 0.5rem;
    padding: 15px 30px;
    margin-bottom: 30px;
}
.playButton:hover {
    box-shadow: 0 0 10px #255784, 0 0 40px #255784, 0 0 80px #255784;
}
.playButton:disabled{
    text-align: center;
    border: none;
    display: inline-block;
    background: #ABACAB;
    color:#ffffff;
    text-decoration: none;
    overflow: hidden;
    letter-spacing: 3px;
    transition: 0.2s;
    border-radius: 0.5rem;
    padding: 15px 30px;
}

.sendResultButton{
    text-align: center;
    border: none;
    display: inline-block;
    background: #007bff;
    color:#ffffff;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
    border-radius: 0.5rem;
    padding: 5px 10px;
}
.sendResultButton:disabled{
    text-align: center;
    border: none;
    display: inline-block;
    background: #ABACAB;
    color:#ffffff;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
    border-radius: 0.5rem;
    padding: 5px 10px;
}

.borderRound{
    border-radius: 0.5rem;
    padding: 10px 10px;
    margin: 2rem;
}
.borderGrey{
    border: 1px solid #494949;
}
.borderLightGrey{
    border: 1px solid rgba(0,0,0,.1);
}

body {
    font-size: 15px;
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.wrapper{
    background-color: #D78419;
    border: 2px solid #000;
    width: 600px;
}

.footer {
    margin-top: 2rem;
    bottom: 0;
    width: 100%;
    background-color: #2B4982;
}

.footerDM{
    margin-top: 2rem;
    bottom: 0;
    width: 100%;
    background-color: #001873;
}

.nocturno{
    background-color: #181818; /*#494949;*/
    color: #ffffff;
}

.scoreRow div{
    /*background: lightblue;*/
    padding: 5px 5px;
    font-size: 24px;
    /*border: 1px solid;*/
    /*color: #000000;    /*Para evitar que el modo nocturno lo deje feo*/
}
.containerPlay{
    background: #F4F4F4;
}
.containerPlayDM{
    background: #69696C;
}
.scoreLabel{
    text-align: right;
}
.resolveLabel{
    text-align: center;
}

.borderDM{
    border: 1px solid #324975;
}

.bgHeader{
    background-color: #2B4982;
    color: #ffffff;
}
.bgHeaderDM{
    background-color: #001873;
    color: #ffffff;
}

.whiteColor{
    color: #ffffff;
}

.linkColor{
    color: #E4E4E4;
}
.linkColor:hover{
    color: #ffffff;
}

.italic{
    font-style: italic;
}

.vulturHeader{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
/*Se utiliza para hacer "override" de la clase div.card que siempre setea el background-color a #fff, esta es la única forma de hacerlo
  sin declarar una clase card propia y eliminando la de bootstrap. No se si es lo ideal porque !important tiene que evitar usarse pero
  no encontre otra forma de hacerlo sin modificar el bootstrap base.*/
.transparentCard {
    background-color: transparent !important;
}

.headerDiv{
    background-color: #FF0000;
}

.githubImg{
    content:url(imagesCSS/github.png);
}
.githubImgInverted{
    content:url(imagesCSS/githubInverted.png);
}

.facebookImgInverted{
    content:url(imagesCSS/facebookInverted.png);
}

.twitterImgInverted{
    content:url(imagesCSS/twitterInverted.png);
}

.joystick{
    content:url(imagesCSS/joystick.png);
}
.joystickDM{
    content:url(imagesCSS/joystickInverted.png);
}

.search{
    content:url(imagesCSS/search.png);
}

.addImg{
    border: none;
    background: center no-repeat;
    background-image:url(imagesCSS/suma.png);
    height: 200px;
    width: 200px;
    background-size: contain;
    /*content:url(imagesCSS/suma.png);*/
}
.addImgDM{
    border: none;
    background: center no-repeat;
    background-image:url(imagesCSS/sumaInverted.png);
    height: 200px;
    width: 200px;
    background-size: contain;
    /*content:url(imagesCSS/sumaInverted.png);*/
}
.subImg{
    border: none;
    background: center no-repeat;
    background-image:url(imagesCSS/resta.png);
    height: 200px;
    width: 200px;
    background-size: contain;
    /*content:url(imagesCSS/resta.png);*/
}
.subImgDM{
    border: none;
    background: center no-repeat;
    background-image:url(imagesCSS/restaInverted.png);
    height: 200px;
    width: 200px;
    background-size: contain;
    /*content:url(imagesCSS/restaInverted.png);*/
}
.mulImg{
    border: none;
    background: center no-repeat;
    background-image:url(imagesCSS/multiplicacion.png);
    height: 200px;
    width: 200px;
    background-size: contain;
    /*content:url(imagesCSS/multiplicacion.png);*/
}
.mulImgDM{
      border: none;
      background: center no-repeat;
      background-image:url(imagesCSS/multiplicacionInverted.png);
      height: 200px;
      width: 200px;
      background-size: contain;
    /*content:url(imagesCSS/multiplicacionInverted.png);*/
}
.divImg{
    border: none;
    background: center no-repeat;
    background-image:url(imagesCSS/division.png);
    height: 200px;
    width: 200px;
    background-size: contain;
    /*content:url(imagesCSS/division.png);*/
}
.divImgDM{
    border: none;
    background: center no-repeat;
    background-image:url(imagesCSS/divisionInverted.png);
    height: 200px;
    width: 200px;
    background-size: contain;
    /*content:url(imagesCSS/divisionInverted.png);*/
}

/* Código útil para referencias a futuro

-- Nos permite asignar una imagen de background en una getElementsByClassName
background: url(imagesCSS/joystickInverted.png) no-repeat center;

-- Para poder usar esto es necesario tener <span id="nocturno"></span>. Nos permite cambiar las propiedades de cosas con id y dentro de un span, de manera que no abarque a toda una sección completa.
body #nocturno{
   background-color: #000000;
   color: #ffffff;
}

-- Parámetro margin: Se agrega a una clase y nos permite establecer un margen x - y pixeles
margin: 50px 50px;
*/
